/* Add a dark background color with a little bit see-through */
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.navbar-nav li a:hover {
    color: rgb(163,194,178) !important;
}

.left,.right {
    background-image:none !important;
}

.bg-1 {

    background:url('images/feature1.jpg') no-repeat center;
    margin-bottom:0;
    color:#ffffff;
}

.bg-2 {
    min-height:200px;
    margin-bottom:0;
    background-color:rgb(163,194,178);
    color:#ffffff;
}

img.logo {
    height:50px;
    width:auto;
}

img.icon {
    height:40px;
    width:40px;
}
img.market_icon {
    height:30px;
    width:auto;
}

h1, h2, h3, h4, h5, p {
    color: rgb(79, 90, 85);
}

.btn:focus, .btn:active {
    outline: none;
}